.card {
    display: flex;
    flex-direction: column;

    &__img {
        position: relative;
        width: auto;
        height: 329px;
        &Link {

        }
    }

    &newLabel {

    }

    &title {

    }

    &description {

    }

    &btn {

    }
}