.toggleQuantity {
  background-color: var(--secondary);
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
  width: 14rem;
  justify-content: space-between;
  &__small {
    gap: 0rem;
  }
  &__increase,
  &__decrease {
    background-color: transparent;
    border: none;
    position: relative;
    cursor: pointer;
    padding: 1.5rem;
    display: flex;
    align-items: center;
  }
  &__decreaseIcon,
  &__increaseIcon,
  &__increaseIcon::after {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #b5b5b5;
    display: block;
    content: '';
    position: absolute;
  }

  &__decreaseIcon {
    width: 10px;
    height: 1.7px;
  }
  &__increaseIcon {
    width: 10px;
    height: 1.7px;
    &::after {
      width: 1.7px;
      height: 10px;
    }
  }

  &__quantity {
    display: block;
    width: 16px;
    text-align: center;
  }
}
