.summary {
  background-color: #fff;
  border-radius: 10px;
  padding: 3.2rem 2.4rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;

  &__btn button {
    width: 100%;
  }

  &__products {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
  }
}
