.container {
  position: relative;
}

.label {
  display: inline-block;
  border: 1px solid #cfcfcf;
  width: 100%;
  padding: 1.8rem 4.6rem;
  border-radius: 10px;
  cursor: pointer;
}

.input:checked ~ .label {
  border: 1px solid var(--primary);
}

.input {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 2rem;

  &[type='radio'] {
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.9rem;
    height: 1.9rem;
    border: 0.15rem solid #cfcfcf;
    border-radius: 50%;

    display: grid;
    place-content: center;

    &::before {
      content: '';
      width: 0.55em;
      height: 0.55em;
      border-radius: 50%;
      transform: scale(0);
      transition: 120ms transform ease-in-out;
      box-shadow: inset 1rem 1rem var(--primary);
      background-color: CanvasText;
    }
  }

  &[type='radio']:checked::before {
    transform: scale(1);
  }
}
