:root {
  --primary: #d87d4a;
  --primary-light: #fbaf85;
  --dark: #191919;
  --secondary: #f1f1f1;
  --secondary-light: #fafafa;
}

*, *::before, *::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  font-family: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2.5rem;
    padding-top: 75px;
}

body.navbar-open {
    height: 100%;
    overflow-y: hidden;
}

a, a:visited {
    text-decoration: inherit;
    color: inherit;
}