:root {
  --primary: #d87d4a;
  --primary-light: #fbaf85;
  --dark: #191919;
  --dark-strong: #101010;
  --secondary: #f1f1f1;
  --secondary-light: #fafafa;

  /*breakpoints*/
  --tablet: 768px;
  --desktop-sm: 1024px;
  --desktop: 1440px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  font-family: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2.5rem;
  padding-top: 85px;
  background-color: #fafafa;
}

body.navbar-open {
  height: 100%;
  overflow-y: hidden;
}

a,
a:visited {
  text-decoration: inherit;
  color: inherit;
}
